.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.name,
.phone,
.date {
  margin: 5px 0;
}

.button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ff1a1a;
}
